/* General page styles */
.home-page {
    font-family: 'Arial', sans-serif;
}

.hero {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60vh;
    background-size: cover;
    background-position: center;
    color: white;
    text-align: center;
}

.hero-content {
    max-width: 600px;
}

h1 {
    font-size: 48px;
    font-weight: bold;
}

p.p-home {
    font-size: 18px;
    margin: 10px 0;
}

.cta-button {
    padding: 12px 24px;
    font-size: 16px;
    background-color: #ff6200;
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.cta-button:hover {
    background-color: #ff4500;
}

/* Feature section styles */
.features {
    padding: 150px 10px;
    text-align: center;
}

.features h2 {
    font-size: 32px;
    margin-bottom: 40px;
}

.feature-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
    justify-items: center;
}

.feature-item {
    background-color: #fff;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    width: 90%;
}

.feature-item:hover {
    transform: translateY(-10px);
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
}

.feature-icon {
    width: 100%;
    height: auto;
    border-radius: 10px;
    margin-bottom: 20px;
}

.feature-item h3 {
    font-size: 24px;
    margin-bottom: 10px;
}

.feature-item p {
    font-size: 16px;
    color: #555;
}

footer {
    text-align: center;
    padding: 20px;
    background-color: #f1f1f1;
}
